.footer{
    background-color: $very-dark-black-blue;
    padding: 3rem 0 3rem 0;
    border-top-right-radius: 5rem;
    
    p{
        margin-bottom: 1.5rem;
        font-weight: 700;
    }
}

.footer__list{
    @include reset-list;
    li:not(:last-child){
        margin-bottom: 0.5rem;
    }
    li{
        color: $grayish-blue;
        opacity: 0.7;
    }
    a:hover{
        text-decoration: underline;
    }
}