.info-design{
    position: relative;
    max-width: 100vw;
    

    .info-design--imgDesktop{
        position: absolute;
        top: 0;
        right: -5rem;
        height: 50rem;
        
        img{
            height: 100%;
        }

    }

    h3{
        margin-bottom: 8rem;
    }

    .info-design--imgMobile{
        display: none;
    }

}

