
@media (max-width: 1030px) {
    .header{
        background-size: 380vw;
        background-position: center;
        min-height: 30vh;
        
    }
    .info-design{
        overflow: hidden;
        margin-bottom: 3rem;
    }
    .info-infrastructure{
        padding: 1rem 0rem 0rem 0rem;
        height: 18rem;
        margin-bottom: 1rem;
        border-bottom-left-radius: 4rem;
        border-top-right-radius: 4rem;
        .info-infrastructure--imgDesktop{
            width: 50%;
            height: 25rem;
            margin-top: -4rem;
            margin-bottom: -14rem;
        }
        .info-infrastructure-text{
            margin-top: -1rem;
            padding: 2rem 0rem 4rem 2rem;
        }
    }
    .info-tool{
        .container{
            margin-right: 0;
        }
        padding-left: 0;
        .info-tool-imgDesktop{
            width: 45rem;
            margin-left: -29rem;
        }
        .info-tool-text{
            margin-left: 2rem;
            margin-top: 8%;
        }
        
    }

}


@media (max-width: 770px) {
    .mobile{
        display: block;
    }
    .header{
        min-height: 75vh;
        &__nav--list, .user{
            display: none;
        }

        .hamburger{
            display: block;
        }
    }
    .info-design{
        text-align: center;
        width: 100vw;
        
        .wrap{
            margin-left: 0;
            width: 90%;
            margin: auto;
            overflow-x: hidden;
        }
        .info-design-text{
            padding-right: 0rem;
        }
        .info-design--imgDesktop{
            display: none;
            overflow: hidden;
        }
        .info-design--imgMobile{
            display: block;
            overflow: hidden;
            
            img{
                width: 100%;
            }
        }

        h3{
            margin-bottom: 4rem;
        }
    }

    .info-infrastructure{
        padding: 0 0 3rem 0;
        height: auto;
        text-align: center;
        
        
        .info-infrastructure--imgDesktop{
            width: 100%;
            margin-top: -10rem;
            height: 25rem;
        }
        .info-infrastructure-text{
            margin-top: 16rem;
            padding: 1rem;
        }
    }
    .info-tool{
        .container{
            margin-right: auto;
        }
        text-align: center;
        .info-tool-imgMobile{
            display: block;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .info-tool-imgDesktop{
            display: none;
        }
        .info-tool-text{
            margin-top: 6rem;
            margin-left: 0;
        }
    }

    .footer{
        text-align: center;
        p{
            margin-top: 3rem;
        }
    }
    
}