
@media (max-width: 1030px) {
    .header{
        background-size: 380vw;
        background-position: center;
        min-height: 30vh;
        overflow: hidden;
    }
    .info-design{
        overflow: hidden;
        margin-bottom: 6rem;
    }
    .info-infrastructure{
        .info-infrastructure--imgDesktop{
            width: 50%;
        }
    }

}


@media (max-width: 770px) {
    .header{
        min-height: 75vh;
        &__nav--list, .user{
            display: none;
        }

        .hamburger{
            display: block;
        }
    }
    .info-design{
        text-align: center;
        overflow-x: hidden;
        .wrap{
            margin-left: 0;
            width: 90%;
            margin: auto;
            overflow-x: hidden;
        }
        .info-design--imgDesktop{
            display: none;
        }
        .info-design--imgMobile{
            display: block;
            img{
                width: 100%;
            }
        }

        h3{
            margin-bottom: 4rem;
        }
    }

    .info-infrastructure{
        padding: 0;
        
        text-align: center;
        
        .info-infrastructure--imgDesktop{
            width: 100%;
            margin-top: -12rem;
            margin-bottom: 0;
            overflow: hidden;
        }
        .info-infrastructure-text{
            overflow: hidden;
            margin-top: 4rem;
        }
    }
    
}